<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <title>Página A</title>
</head>
<body>
    <div class="general">

        <div class="titulo">
            <h1>Formulario 1</h1>
        </div>
    
        <div class="contenedorformUno">
        
            <div class="formUno">
            
                <form action="../Services/persona_service.php" method="POST" id="formulario">
                    <label for="">Ingresar el nombre:</label>
                    <input type="text" name="nombre" placeholder="Ingresar su nombre" class="txt" required>
                    <label for="">Ingresar el apellido:</label>
                    <input type="text" name="apellido" placeholder="Ingrese su apellido" class="txt">
                    <label for="">Ingresar la edad:</label>
                    <input type="number" name="edad" placeholder="Ingrese su edad" class="txt" >
                    <input type="submit" value="Enviar Datos" id="btnEnviar">
                </form>

            </div>
        
            <div class="contres">
                <p>Datos de la persona ingresada al sistema</p>
                <p id="Resultado"></p>
            </div>
        </div>
    </div>

    <script src="../JS/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="../Controllers/Logic_FormUno.js" type="text/javascript"></script>

</body>
</html>